*.jpg
*.dat
*.pdf
ASEN 5090/almanac.yuma.week0281.147456.txt
ASEN 5090/brdc2390.24n
ASEN 5090/COD0MGXFIN_20242390000_01D_05M_ORB.SP3
*/data/*
*.exe
ASEN 5090/download_and_load_rnx.m
*.mat
*.crx*
*.rnx
*.asv